*{
    margin: 0;
    padding: 0;
}

html body{
    color: #636363;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

li{
    list-style: none;
}

/* ------------------------------------------------------------------------------------- */
/* ***************HEADER*************** */
header{
    width: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    /* có cha relative là body */
}

/* Căn giữa thành phần header  */
.container{
    max-width: 1199px;
    margin: auto;
}

/* xóa dấu Bullets */
.header_content ul{
    margin-right: 30px;
}


/* Sắp xếp thành hàng ngang navbar*/
.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Xóa gạch chân */
/* Đổi màu chữ */
.header_content li a{
    text-decoration: none;
    color:#070120;
    /* trước hover */
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s;
}

/* sau hover  */
.header_content li:hover a{
    color: #f55f8d;
}

.header_content i{
    font-size: 9px;
    margin-top: -3px;
    vertical-align: middle;
}

/* Sắp xếp thành hàng ngang */
/* Thêm khoảng cách*/
.header_content li{
    display: inline-block;
    padding: 55px 12px;
}

.header_content nav{
    display: flex;
    align-items: center;
}

/* trước hover */
.gradient{
    padding: 20px 35px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    border: solid 1px #00000000;
    border-radius: 30px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

/* sau hover */
.gradient:hover {
  background-position: right center;
}

.header_content span{
    /* trước hover */
    display: inline-block;
    transition: all 1s;
}

/* sau hover  */
.header_content li:hover span{
    animation: upToDown 0.3s;
}

@keyframes upToDown{
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

/* ------------------------------------------------------------------------------------- */
/* ***************CAROUSEL*************** */ 
.carousel{
    padding-top: 180px;
    background-image: url(../img/pic2.png);
    background-size: 100%;
    background-position: top;
    overflow: hidden;
}

.carousel_left{
    width: 60%;
}

.carousel_right{
    width: 40%;
}

.carousel_content{
    display: flex;
    align-items: center;
}

.title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 20px;
    color: #262626;
}

.carousel_article p{
    font-size: 18px;
    margin-bottom: 15px;
}

.carousel_content ul{
    margin-bottom: 20px;

}

.carousel_article li{
    padding: 10px 5px 10px 0;
    font-size: 20px;
}

.carousel_article i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    font-weight: 900;
    border-radius: 35px;
    margin-right: 10px;
}

.carousel_banner{
    width: 570px;
    margin-left: 50px;
}

.carousel_banner img{
    max-width: 100%;
    display: block;
}

/* ------------------------------------------------------------------------------------- */
/* ***************SERVICE_INNER*************** */ 
.service{
    padding-top: 115px;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.service_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.service_items{
    padding: 30px 45px;
    background:#fff;
    border-radius: 8px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    /* trước hover */
    transform: translateY(0);
    transition: all 0.5s;
    border: 3px solid transparent;
}

/* sau hover  */
.service_items:hover{
    transform: translateY(-20px);
    border-image: url(../img/br.png) 1 round;
}

.service_items img{
    width: 215px;
}

.service_items h3{
    font-weight: 700;
    font-size: 24px;
    color: #262626;
    margin: 15px 0;
}

/* ------------------------------------------------------------------------------------- */
/* ***************ABOUT_US_INNER*************** */ 
.aboutUs{
    padding-top: 115px;
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    padding-bottom: 85px;
    overflow: hidden;
}

.aboutUs_content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.aboutUs_left{
    width: 60%;
    position: absolute;
    left: -17%;
}

.aboutUs_left img{
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.aboutUs_right{
    width: 50%;
}

.aboutUs_right p {
    margin-bottom: 15px;
}

.aboutUs_right ul{
    margin-bottom: 30px;
}

.aboutUs_right i{
    font-size: 24px;
    color: #f56494;
    margin-right: 10px;
    vertical-align: middle;
}

/* ------------------------------------------------------------------------------------- */
/* ***************NUMBER_INNER*************** */ 
.number{
    background-image: url(../img/bg14.png);
    background-position: center;
    padding: 80px 0 50px;
    text-align: center;
    background-repeat: no-repeat;
}

.number_content{
    display: flex;
    justify-content: space-around;
}

.number_items{
    width: 25%;
}

.number_items i{
    font-size: 45px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    display: inline-block;
    line-height: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 15px;
}

.number_items p:first-of-type{
    font-size: 65px;
    font-weight: 800;
    line-height: 1;
    color: #f55f8d;
}

.number_items p:last-of-type{
    font-size: 18px;
    color: #262626;
}

/* ------------------------------------------------------------------------------------- */
/* ***************FEATURE_INNER*************** */ 
.feature{
    padding-top: 115px;
    background-image: url(../img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.feature_content{
    display: flex;
}

.feature_left, .feature_right{
    width: 50%;
}

.feature_banner{
    margin-right: -80px;
}

.feature_banner img{
    max-width: 100%;
    animation: move2 5s infinite;
}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}

.feature_bands .feature_items:first-child{
    padding: 0 50px 30px 0;
    /* background-color: #fff; */
}

.feature_bands .feature_items:nth-child(2){
    padding: 0 0 30px 50px;
}

/* hiệu ứng trước hover */
.feature_agency{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

/* hiệu ứng sau hover */
.feature_agency::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* trước hover */
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}

/* sau hover */
.feature_agency:hover::after{
    opacity: 1;
}

/* trước hover */
.feature_items div{
    padding-left: 25px;
    position: relative;
    z-index: 1;
    transition: all 1s;
}

/* trước hover */
.feature_items i{
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    position: relative;
    z-index: 1;
    transition: all 1s;
}

/* trước hover */
.feature_items h3{
    font-weight: 800;
    color: #262626;
    font-size: 24px;
    transition: all 1s;
}

/* sau hover  */
.feature_agency:hover i, 
.feature_agency:hover div, 
.feature_agency:hover h3{
    color: #fff;
}

/* ------------------------------------------------------------------------------------- */
/* ***************PORTFOLIO_INNER*************** */ 
.portfolio{
    padding-top: 115px;
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: center top;
    text-align: center;
    overflow: hidden;
}

.portfolio_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}

.portfolio_content #item1{
    grid-column: 1/ span 2;
}

.portfolio_content #item5{
    grid-column: 1/ span 2;
}

.portfolio_content #item6{
    grid-column: 3/4;
    grid-row: 2/4;
}

.portfolio_items{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.portfolio_items::after{
    content: "";
    position: absolute;
    display: block;
    width: 30%;
    height: 100%;
    top: 0;
    left: -100%;
    background: linear-gradient(to right,  rgba(255, 255, 255, 0),rgb(255, 255, 255,0.3));
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.portfolio_items:hover::after{
    left: 150%;
}

.portfolio_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.4);
    /* trước hover */
    opacity: 0;
    transition: all 0.75s;
    overflow: hidden;
}

.portfolio_items:hover .portfolio_overlay{
    /* sau hover */
    opacity: 1;
}


.portfolio_icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;

    /* trước hover */
    transform: translate(20px, -20px);
    transition: all 0.75s;
}

.portfolio_icon a{
    color: white;
    display: block;
    text-align: center;
}

/* sau hover  */
.portfolio_items:hover .portfolio_icon{
    transform: translate(0);
}


.portfolio_text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;

    /* trước hover  */
    transform: translateY(150px);
    transition: all 0.75s;
}

/* sau hover  */
.portfolio_items:hover .portfolio_text{
    transform: translateY(0);
}

.portfolio_items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio_text h3 {
    font-size: 22px;
    font-weight: 800;
    color: white;
}

.portfolio_text p {
    color: #fff;
    opacity: 0.7;
}

/* ------------------------------------------------------------------------------------- */
/* ***************BLOG_INNER*************** */ 
.blog{
    padding-top: 115px;
    padding-bottom: 50px;
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: center top;
    text-align: center;
}

.blog_item{
    background-color: rgba(245, 95, 141, 0.1);
    border-radius: 8px;
    text-align: left;
}

.blog_header img {
    width: 100%;
    border-radius: 8px;
}

.blog_header{
    position: relative;
}

.blog_header p{
    position: absolute;
    bottom: -20px;
    left: 15px;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}

.blog_body{
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog_body h3{
    font-size: 24px;
    font-weight: 700;
    color: #262626;
}

.blog_footer{
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog_footer i{
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

.blog_footer p:first-child{
    margin-right: 20px;
}

.blog_footer p:first-child span{
    color: #f55f8d;
}

/* ------------------------------------------------------------------------------------- */
/* ***************FOOTER_INNER*************** */ 
footer{
    display: block;
    height: auto;
    background-image: url(../img/bg4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0e1b1f;
    font-size: 15px;
    color: #fff;
    position: relative;
}

footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern2.png);
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
}

.footer_top{
    position: relative;
    padding: 50px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer_text, .footer_form{
    width: 50%;
}

.footer_text h2{
    font-size: 28px;
    color: #262626;
}

.footer_form form{
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.footer_form input{
    padding: 20px 20px;
    flex: 1 1 auto;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    border-radius: 8px 0 0 8px;
    border: 1px solid #fff;
    outline: none;
    transition: all 0.5s;
}

.footer_form input:hover, .footer_form input:focus{
    border-color: #f55f8d;
}

.footer_form button{
    padding: 20px 35px;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 0 8px 8px 0;
    border-color: transparent;
}

.footer_form button:hover{
    background-position: right center;
}

@keyframes Left_to_Right{
    49% {
        transform: translateX(100%);
    }

    50% {
        opacity: 0;
        transform: translateX(-100%);
    }

    51% {
        opacity: 1;
    }
}

.footer_form button:hover i{
    display: inline-block;
    animation: Left_to_Right 0.5s forwards;
}

.footer_bottom{
    position: relative;
    display: flex;
    padding: 70px 0;
}

.footer_items{
    width: 25%;
}

.footer_items h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
}

.footer_items h3::before{
    content: "";
    position: absolute;
    width: 15px;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}

.footer_items h3::after{
    content: "";
    position: absolute;
    width: 45px;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    left: 20px;
}

.footer_contact li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer_contact i {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    color: white;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 50px;
}

.footer_items li {
    padding: 8px 0;
}

/* trước hover */
.footer_items a{
    color: #636363;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.5s;
}

/* sau hover */
.footer_items a:hover{
    color: white;
}

.footer_items i {
    font-weight: 700;
    margin-right: 10px;
}

.footer_coppyright{
    background-color: #1f343b;
    padding: 10px 0;
}

.footer_contentcoppy{
    display: flex;
    justify-content: space-between;
}

.footer_left{
    font-size: 16px;
}

.footer_left span {
    color: #f55f8d;
}

.footer_coppyright a{
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
    font-size: 14px;
    color: white;
    /* trước hover */
    background-color: rgb(255, 255, 255, 0.1);
    transition: all 0.5s;
}

.footer_coppyright a:hover{
    background-color: #f55f8d;
}

/* ------------------------------------------------------------------------------------- */
/* ***************BACK TO TOP*************** */ 
/* Trạng thái mặc định (ẩn nút) */
.cd-top {
  position: fixed;
  display: block;
  bottom: 15px; 
  right: 15px; 
  width: 50px;
  height: 50px; 
  transition: opacity 0.3s, visibility 0.3s;
  visibility: hidden;
  opacity: 0;
  background: #f55f8d;
  border-radius: 8px;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  color: white;
  line-height: 50px;
  text-align: center;
}

/* Khi người dùng cuộn xuống: Hiện nút */
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* Khi người dùng tiếp tục cuộn xuống sâu hơn: Làm mờ bớt nút để tránh phân tâm */
.cd-top--fade-out {
  opacity: .5;
}